    body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }

        .top-bar, .bottom-bar {
            background-color: black;
            color: white;
            padding: 15px;
            text-align: center;
        }

        .container {
            display: flex;
            min-height: 80vh;
        }


        .left {
            width: 15%;
            background-color: #f0f0f0;
            padding: 20px;
            border-right: 1px solid #ddd;  
              
        }

        .menu-button {
            
            display: block;
            background-color: black;
            color: white;
            padding: 12px 15px;
            margin-bottom: 15px;
            text-align: center;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        .right {
            width: 85%;
            padding: 20px;
            overflow-y: auto;
        }

        .taylor img {
            width: 100%;
            border-radius: 10px;
        }

        .section-title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        /* Horizontal scroll container */
        .scroll-row {
            display: flex;
            overflow-x: auto;
            gap: 15px;
            padding-bottom: 10px;
        }

        .card {
            min-width: 150px;
            font-weight: bold;
            background-color: #eee;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }

        .card img {
            width: 100%;
            border-radius: 10px;
        }